

body{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar{
    height: 7vh;
    /* background-color: #e3e3e3; */
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;

}

.navbar ul{
    margin:0;
}

.navbar ul li{
    display: inline;
    font-family: 'Chelsea Market', cursive;
    margin-left: 20px;
}

.navbar ul li:hover{
    color: blue;
}

.search_section{
    position: relative;
    width: 700px;
    height: 86vh;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search_results{
    position: absolute;
    height: 200px;
    overflow-y: scroll;
    left: 187px;
    width: 291px;
    margin-top: -1px;

}
.footer{
    border-top: 1px solid #e3e3e3;
    width: 100vw;
    height: 40px;
    /* background-color: #e3e3e3; */
    display: flex;
    align-items: flex-end;
}

#copyright{
    font-family: 'Chelsea Market', cursive;
    margin:6px;
}

#logoimg{
    width: 40vw;
}

#s_inp{
    display: flex;
    align-items: center;
    justify-content: center;
}

#s_inp input[type="text"]{
    padding-left: 5px;
    width: 300px;
    height: 33px;
    border: 1px solid #e3e3e3;
    border-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search_btn{
    height: 37px;
    border: 1px solid #e3e3e3;
    border-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.result_div{
    padding-left: 5px;
    font-family: sans-serif;
    display: flex;
    line-height: 38px;
    vertical-align: center;
    z-index: 0;
    display: inline-block;
    left: 185px;
    height: 38px;
    width: 291px;
    border-bottom:1px solid #e3e3e3;
}

#smalllogoimage{
    padding:10px;
}

#main_content{
    display: flex;
    height: 90%;
    justify-content: center;
}

#sh_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Chelsea Market', cursive;

    width: 70%;
    /* background-color: pink; */
    height: 100%;
    border: 2px solid #e3e3e3;
    overflow-y: scroll;

}

#sh_image{
    width: 30%;
    height: 100%;
    border-top: 2px solid #e3e3e3;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sh_info_item{
    margin-top: 5px;
    padding: 5px;
    width: 500px;
    font-size:35px;
    box-shadow:6px 7px 13px 0px #888888;
    word-wrap:break-word;

}
#photo_hero{
    box-shadow:6px 7px 13px 0px #888888;
}

#powerstats li {
    font-size:20px;
}
#biography li {
    font-size:20px;
}

#favbtn{
    margin-top: 10px;
}

#lovethis{
    background-color:red;
    box-shadow:6px 7px 13px 0px #888888;
    color: white;
    font-size:16px;
    font-family: 'Chelsea Market', cursive;
    width:175px;
    height: 50px;
    border:0;
}

#lovethis:hover{
    background-color: royalblue;
    cursor: ;
}

#favs_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fav_content{
    font-family: 'Chelsea Market', cursive;
    
}

#favlist a{
    text-decoration: none;
}
#favlist a:hover{
    color: red;
}

#fav_main_ul li{
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
    list-style:none;
    font-family: 'Chelsea Market', cursive;
    width: auto;
    height: 50px;
    line-height: 50px;
    vertical-align: center;
}


@media screen and (max-width: 720px) {
    .search_section{
        height:560px;
        width: 100%;
    }

    #main_content{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: 90%;
    justify-content: center;
    width: 100%;
    }

    #sh_image{
        width: 100%;
    }

    #sh_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Chelsea Market', cursive;
    width: 100%;
    /* background-color: pink; */
    height: 100%;
    border: 2px solid #e3e3e3;
    overflow-y: scroll;
    }

    #s_inp{
        width: 80%;
        margin-left: 10px;
    }

    .sh_info_item{
    margin-top: 5px;
    padding: 5px;
    width: 323px;
    font-size: 21px;
    box-shadow: 6px 7px 13px 0px #888888;
    word-wrap: break-word;
    }

    #logoimg{
        margin-left: 10px;
    }

    #search_results{
        left:15px;
        width:231px;
    }

    #favs_main{
        text-align: center;
    }

    #fav_main_ul li{
        width: 300px;
    }
  }